body {
    background-color: #222222;
    color: white;
}

input, datalist {
    width: 150px;
}

img {
    width: 150px;
    height: 150px;
}

table, tr, td {   
    padding: 0px;
}

.input {
    background-color: #222222;
}

.flipped {
    transform: rotateY(-180deg);
}

.imagesDiv {
    position: relative;
    display: inline-block;
}

.itemImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

select {
    width: 150px;
}